#absolyteMenu {
	position: fixed;
	top: -16px;
	left: -40px;
	text-decoration: none;
}

#absolyteMenu ul{
	list-style-type:none;
	text-decoration: none;
}
#absolyteMenu ul a {
	text-decoration: none;
	background-color: red;
}

#absolyteMenu ul a li{
	height: 40px;
	width: 200px;
	color: white;
	background-color: #00436b;
	padding: 5px;
	text-decoration: none;
}

#absolyteMenu ul a li:hover{
	background-color: #005587;
}

#imgcontainer {
	margin-left: 250px;
}

#absolyteMenu ul a #iamhere{ background-color: #005587;}